*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
html,body{
    font-family: 'Inter', sans-serif;
}

.main{
    min-height: 100vh;

}
.main .leaderboard_section{
    padding: 40px 20px;
}
.main .leaderboard_section .leaderboard_wrapper{
    text-align: center;
    position: relative;

    margin: 0 auto;
}
.main .leaderboard_section .leaderboard_wrapper .header{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
}
.main .leaderboard_section .leaderboard_wrapper h3{
    color: #fff;
    font-size: 50px;
}
.main .leaderboard_section .leaderboard_wrapper h3 span{
    color: #991721;
}
.main .leaderboard_section .leaderboard_wrapper p{
    color: #fff;
    font-size: 15px;
}
.main .leaderboard_section .leaderboard_wrapper p span{
    color: #fff;
    opacity: 0.7;
}
.main .leaderboard_section .leaderboard_wrapper .top{
    color: #fff;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main .leaderboard_section .leaderboard_wrapper .top .top_outer{
    background: none;
    border: 2px solid #B41E20;
    border-radius: 8px;
    height: 75px;
    width: 250px;
    transform: translate(10px, 10px);
}
.main .leaderboard_section .leaderboard_wrapper .top .top_inner{
    height: 75px;
    width: 250px;
    position: relative;
    background: linear-gradient(90deg, rgba(215,58,25,1) 0%, rgba(179,29,16,1) 100%);
    transform: translate(-10px, -10px);
    border: 2px solid #976429;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 23px;
}
.main .leaderboard_section .leaderboard_wrapper .top .top_inner .top_border,
.main .leaderboard_section .leaderboard_wrapper .top .top_inner .bottom_border{
    position: absolute;
    height: 1px;
    width: 70px;
    background: linear-gradient(90deg, rgba(110,74,34,0) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 55%, rgba(110,74,34,0) 100%);
    
}
.main .leaderboard_section .leaderboard_wrapper .top .top_inner .top_border{
    top: -2px;
    left: 50%;
    transform: translate(-50%,0);
}
.main .leaderboard_section .leaderboard_wrapper .top .top_inner .bottom_border{
    bottom: -2px;
    left: 50%;
    transform: translate(-50%,0);
}

.main .leaderboard_section .leaderboard_wrapper .title{
   width: 100%;
    margin-bottom: 20px;
}
.main .leaderboard_section .leaderboard_wrapper .title .leaderboard_outer .leaderboard_inner h3{
    font-style: italic;
     letter-spacing: 2px;
    font-size: 30px;
}
.main .leaderboard_section .leaderboard_wrapper .title .leaderboard_outer{
    background: none;
    border: 2px solid #B41E20;
    border-radius: 8px;
    height: 55px;
    width: 100%;
    transform: translate(8px, 10px);
}
.main .leaderboard_section .leaderboard_wrapper .title .leaderboard_outer .leaderboard_inner{
    height: 55px;
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, rgba(215,58,25,1) 0%, rgba(179,29,16,1) 100%);
    transform: translate(-8px, -10px);
    border: 2px solid #976429;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.main .leaderboard_section .leaderboard_wrapper .title .leaderboard_outer .leaderboard_inner .top_border,
.main .leaderboard_section .leaderboard_wrapper .title .leaderboard_outer .leaderboard_inner .bottom_border{
    position: absolute;

    height: 1px;
    width: 70px;
    background: linear-gradient(90deg, rgba(110,74,34,0) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 55%, rgba(110,74,34,0) 100%);
}

.main .leaderboard_section .leaderboard_wrapper .title .leaderboard_outer .leaderboard_inner .top_border{
    top: -2px;
    left: 50%;
    transform: translate(-50%,0);
}
.main .leaderboard_section .leaderboard_wrapper .title .leaderboard_outer .leaderboard_inner .bottom_border{
    bottom: -2px;
    left: 50%;
    transform: translate(-50%,0);
}


.main .leaderboard_section .leaderboard_wrapper .lastupdate{
    color: #fff;

}
.main .leaderboard_section .leaderboard_wrapper img.logo-nav{
    height: auto;
    width: 90px;
}
.participant{
    width:100%;
    max-width: 310px;
    background: linear-gradient(180deg, #D4391B 0.03%, rgba(189, 37, 30, 0.30) 61.97%, rgba(179, 29, 31, 0.00) 99.97%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
.participant .medal{
    height: auto;
    width: 100px;
    position: absolute;
    top: -20px;
    left: -40px;
}
.participant .number_1 {
    position: relative;

}
.participant .number_1 .profile_img{
    height: 240px;
    width: 240px;
    background: #991721;
    border-radius: 100%;
    border:2px solid #976429;
}


.participant .number_1 .placement{
    width: 130px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    left: -80px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 6px;
    font-style: italic;
    padding-right: 8px;
    background: linear-gradient(269deg, #D4391B -1.13%, rgba(179, 29, 31, 0.00) 99.48%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.participant h1.participant-title{
    color: #fff;
    font-style: italic;
    margin-top: 20px;

}

 .leaderboard_wrapper .participant_wrapper{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.participant .berries{
    margin-top: 20px;
    width: 340px;
    height: 68px;
    background: linear-gradient(180deg, #D4391B 0%, #B31D1F 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    border: 2px solid #976429;
}
.participant .berries .top_border,
.participant .berries .bottom_border{
    position: absolute;
    height: 1px;
    width: 70px;
    display: block;
    background: linear-gradient(90deg, rgba(110,74,34,0) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 55%, rgba(110,74,34,0) 100%);
}

.participant .berries .top_border{
    top: -2px;
    left: 50%;
    transform: translate(-50%,0);
}
.participant .berries .bottom_border{
    bottom: -2px;
    left: 50%;
    transform: translate(-50%,0);
}

.participant .berries .streak{
    position: absolute;
    top: -14px;
    height: 24px;
    right:2px;
    background: #999;
    color: #fff;
    border-radius: 100px;
    padding: 3px 20px;
    font-style: italic;
    text-shadow: 2px 2px #000;
    font-size: 13px;
}
.participant .berries .berries_count{
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    font-style: italic;
}
.participant .berries > span.berries_span{
    font-style: italic;
    font-weight: 200;
    color: #fff;
    font-size: 24px;
}
.participant .berries .berries_img{
    height: auto;
    width: 40px;
}
.participant .participant_bear{
    margin-top: 30px;
}

.participant_wrapper .participant_list{
    width: 100%;
}
.participant_wrapper .participant_list .berries_2{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.participant_wrapper .participant_list .berries_2 span.berries_span{
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.participant_wrapper .participant_list .berries_2 img.berries_img{
    height: auto;
    width: 40px;
}
.participant_wrapper .participant_list .participant_item{
    margin-top: 35px;
    height: 60px;
    display: flex;
    background: linear-gradient(90deg, #D4391B 0%, #6E0603 55.21%);
    position: relative;
}
.participant_wrapper .participant_list .participant_item .tri{
    clip-path: polygon(0 100%, 43% 100%, 0 0);
    width: 30px;
    height: 59px;
    transform: translate(0, 4px);
    background: #000;
    display: block;
}
.participant_wrapper .participant_list .participant_item .item_wrap{

    padding: 0px 0;
    display: flex;
    align-items: center;
    padding-left: 0px;
}
.participant_wrapper .participant_list .participant_item .num{
    color: #fff;
    font-size:33px;
    margin-right: 20px;
    width: 20px;
    padding-left: 5px;
}
.participant_wrapper .participant_list .participant_item .profile_img_2{
    height: 40px;
    width: 40px;
    background: #B31D1F;
    border: 2px solid #976429;
    border-radius: 100px;
    margin-right: 20px;
}
.participant_wrapper .participant_list .participant_item h4{
    color: #fff; 
    font-size:15px;
    padding-right: 10px;
}
.participant_wrapper .participant_list .berries_count{
    background: #D4391B;
    margin-left: auto;
    color: #fff;
    width: 100px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 12% 100%);
    border: 2px solid #976429;
    position: relative;
}

.participant_wrapper .participant_list .berries_count .top_border,
.participant_wrapper .participant_list .berries_count .bottom_border{
    position: absolute;
    height: 1px;
    width: 70px;
    background: linear-gradient(90deg, rgba(110,74,34,0) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 55%, rgba(110,74,34,0) 100%);
    
}
.participant_wrapper .participant_list .berries_count .top_border{
    top: -2px;
    left: 50%;
    transform: translate(-50%,0);
}
.participant_wrapper .participant_list .berries_count .bottom_border{
    bottom: -2px;
    left: 50%;
    transform: translate(-50%,0);
}


.participant_wrapper .participant_list .participant_item > .streak{
    position: absolute;
    top: -14px;
    display: block;
    
    height: 24px;
    right:40px;
    background: #999;
    color: #fff;
    border-radius: 100px;
    padding: 3px 20px;
    font-style: italic;
    text-shadow: 2px 2px #000;
    font-size: 13px;
    z-index: 99;
}


@media screen and (min-width: 576px) {
    .main .leaderboard_section .leaderboard_wrapper img.logo-nav{
        position: absolute;
        right: 0;
        top: 60px;
        height: auto;
        width: 120px;
    }
    .main .leaderboard_section .leaderboard_wrapper .top .top_outer{
        background: none;
        border: 2px solid #B41E20;
        border-radius: 8px;
        height: 85px;
        width: 270px;
        transform: translate(10px, 10px);
    }
    .main .leaderboard_section .leaderboard_wrapper .top .top_inner{
        height: 85px;
        width: 270px;
    }
    .main .leaderboard_section .leaderboard_wrapper .lastupdate{
        font-size: 20px;
    }
    .participant_wrapper .participant_list .berries_count{
        width: 170px;
        justify-content: center;
        font-size: 22px;
    
    }

    /* participant */
    .participant_wrapper .participant_list{
        width: 100%;
        max-width: 630px;
    }
    .participant_wrapper .participant_list .participant_item > .streak{
        right:100px;
    }
    .participant_wrapper .participant_list .participant_item .item_wrap > .profile_img_2{
        margin-right: 50px;
        height: 50px;
        width: 50px;
    }
    .participant_wrapper .participant_list .participant_item .item_wrap > h4:nth-child(3){
        font-size: 19px;
    }

    .participant_wrapper .participant_list .participant_item .num{
        color: #fff;
        font-size:28px;
        margin-right: 40px;
        width: 20px;
    }
    .participant_wrapper .participant_list .participant_item{
        margin-top: 35px;
        height: 40px;
    }
    .participant_wrapper .participant_list .participant_item .num{
        padding-left: 0px;
    }
}
@media screen and (min-width: 768px) {
    .main .leaderboard_section .leaderboard_wrapper img.logo-nav{
        position: absolute;
        right: -50px;
        top: 60px;
        height: auto;
        width: 120px;
    }
}
@media screen and (min-width: 992px) {
    .leaderboard_wrapper .participant_wrapper {
        margin-top: 60px;
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }
    .participant_wrapper .participant_list .participant_item:nth-child(2) {
        margin-top: 15px;
    }
    .participant_wrapper .participant_list{
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
    }
    .leaderboard_wrapper .participant_wrapper {
        margin-top: 60px;
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 80px;
    }
    
    .participant_wrapper .participant_list .participant_item.small_w{
        align-self: flex-end;
        width: 100%;
        max-width: 730px;
    }
    .participant_wrapper .participant_list .participant_item{
        position: relative;
    }
    .participant_wrapper .participant_list .participant_item .profile_img_2 {
        background: #B31D1F;
        border: 2px solid #976429;
        border-radius: 100px;
        margin-right: 20px;
    }
}